#commerce-taxjar-address-validation-wrapper {
  display: none;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.error.inline.message {
  padding-left: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  height: 25px;
  background-color: inherit;
}
